.estilo1{
  color: #c7c7e1;
  text-align:center;
  background-color:#323576;
  }
.estilo2{
  color:greenyellow;
  background-color: yellowgreen;
  font-size: 31px;
  font-family: Arial, Helvetica, sans-seri;0
  border-bottom-color: grey 50px;
  }
.estilo3{
  color:green;
  background-color: yellow;
  font-size: 31px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 65%;
  }
.estilo4{
  color:blueviolet;
  text-align:center;
  background-color:purple;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1.5;
  }
.estilo5{
  color:blue;
  background-color:blueviolet;
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo6{
  color:white;
  background-color:blue;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo7{
  color:blue;
  text-align:center;
  background-color:tomato;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo8{
  color:orange;
  text-align:center;
  background-color:gray;
  font-size: 68px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo9{
  color:mediumaquamarine;
  background-color:gray;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo10{
  color:#ff2ef8;
  background-color:blueviolet;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo11{
  color:#01f43e;
  background-color:dodgerblue;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo12{
  color:#5a528e;
  background-color:#769843;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo13{
  color:mediumorchid;
  text-align:center;
  background-color: #a3b087;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo14{
  color: #d77575;
  background-color: #cd3270;
  font-size: 52px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo15{
  color:#8ae600;
  background-color: #27dd7f;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo16{
  color:#ff4d2e;
  text-align:center;
  background-color: #32cdbb;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo17{
  color:#ff961f;
  text-align:center;
  background-color: #ff0a6c;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo18{
  color:#2e35ff;
  background-color: #3d4233;
  font-size: 43px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo19{
  color:#ffa82e;
  text-align:center;
  background-color: #df5a01;
  font-size: 39px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo20{
  color:#bc05ff;
  background-color: #ff2e77;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  border:2px #163d98
  }
.estilo21{
  color:#5c871d;
  text-align:center;
  background-color: #96a970;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo22{
  color:#00ffe1;
  text-align:center;
  background-color: #2e9aff;
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo23{
  color:white;
  text-align:center;
  background-color: #131776;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo24{
  color:#8ecb15;
  text-align:center;
  background-color: #b3a509;
  font-size: 39px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo25{
  color:#527808;
  background-color: lightcyan;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo26{
  color:lightgoldenrodyellow;
  text-align:center;
  background-color:slategrey;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo27{
  color:gray;
  background-color: #8ec421;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo28{
  color:limegreen;
  text-align:center;
  background-color:lightskyblue ;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo29{
  color:#927777;
  background-color: sandybrown;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  }
.estilo30{
  color:#0e6c19;
  text-align:center;
  background-color: #4cc0c2;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  }